<form [formGroup]="formGroup" class="container">
  <h3>Login</h3>
  <div class="flex flex-column gap-2 mb-3">
    <label for="email">Email</label>
    <input pInputText class="py-1 px-1" id="username" aria-describedby="username-help" formControlName="email" />
  </div>
  <div class="flex flex-column gap-2 mb-3">
    <label for="password">Password</label>
    <input pInputText class="py-1 px-1" id="password" aria-describedby="password-help" formControlName="password" />
  </div>
  <div class="flex gap-2 justify-center mb-5">
    <p-checkbox value="false" inputId="ny"></p-checkbox>
    <label for="ny">Remember Me</label>
  </div>
  <div class="block">
    <button pButton pRipple label="Submit" class="p-button-success w-full block"></button>
  </div>
</form>
