<form [formGroup]="formGroup" class="container">
  <h3>Register</h3>
  <div class="flex flex-column gap-2 mb-3">
    <label for="email">Email</label>
    <input pInputText type="email" class="py-1 px-1" id="email" aria-describedby="email-help" formControlName="email" />
  </div>
  <div class="flex flex-column gap-2 mb-3">
    <label for="username">Username</label>
    <input pInputText type="text" class="py-1 px-1" id="username" aria-describedby="username-help" formControlName="username" />
  </div>
  <div class="flex flex-column gap-2 mb-3">
    <label for="password">Password</label>
    <input pInputText type="password" class="py-1 px-1" id="password" aria-describedby="password-help" formControlName="password" />
  </div>
  <div class="flex flex-column gap-2 mb-5">
    <label for="repassword">Re-enter Password</label>
    <input pInputText type="password" class="py-1 px-1" id="repassword" aria-describedby="repassword-help" formControlName="repassword" />
  </div>
  <div class="block">
    <button pButton pRipple label="Submit" class="p-button-success w-full block"></button>
  </div>
</form>
